<h1>Liste des Leaders</h1>
<table class="forum_table">


  <tr>
    <th>Leaders</th>
  </tr>


  <% @leaders.each do |leader| %>
      <tr>
        <td><%= leader.first_name + ' ' + leader.last_name %></a></p>
        <td class="link"><%= link_to "Editer", edit_leader_path(leader.id) %></td>
        <td class="link"><%= link_to "Supprimer", leader_path(leader.id), :confirm => "Confirmer la suppression ?", :method => :delete %>    </td>

      </tr>
  <% end %>

</table>

<div>
  <%= link_to "Créer un nouveau leader", new_leader_registration_path %>
</div>