      <% if client_signed_in? %>
          Mode Élève
      <% elsif  leader_signed_in? %>
      Mode Leader
      <% else %>
          <img src="images/log.png" />
      <a href="<%= url_for new_leader_registration_path %>" class="leader"></a>
      <a href="<%= url_for new_client_registration_path %>" class="client"></a>
      <a href="<%= url_for new_client_registration_path %>" class="import"></a>

      <% end %>